.form {
  &--container {
    display: grid;
    margin: 100px auto;
    max-width: 1200px;
  }

  &--title {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
  }

  &--interactive_area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  &--button_area {
    width: 150px;
  }
}

.submitted {
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  color: #fff;

  &.success {
    background-color: #39b54a;
  }
  &.error {
    background-color: #f23d4f;
  }
}
.required-copy {
  font-size: 12px;
  color: #777;
}
