@import "@syncfusion/ej2-base/styles/material.css";
@import "@syncfusion/ej2-react-navigations/styles/material.css";

.sidebar-container {
  .sidebar {
    background-color: rgb(25, 118, 210);
    color: #fff;
    top: 68px;
  }
}
